[2017-03-19 11:45] yegor256 opened #1 "skeleton"

[2017-03-21 20:26] yegor256 commented on #1
@rultor release, tag is `0.1`

[2017-03-21 20:27] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11200-288207551)

[2017-03-21 20:27] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11200-288207551) (spent 10s)

[code]

[2017-03-21 20:30] yegor256 commented on #1
@rultor release, tag is `0.1`

[2017-03-21 20:31] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11200-288208789)

[2017-03-21 20:34] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11200-288208789) (took me 3min)

[2017-03-21 20:34] #1 closed

[2017-03-23 06:42] yegor256 opened #2 "cookie encryption"

[2017-03-23 06:56] yegor256 commented on #2
@rultor release, tag is `0.2`

[2017-03-23 06:57] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11210-288633022)

[2017-03-23 07:00] rultor commented on #2
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11210-288633022) (took me 2min)

[2017-03-23 07:00] #2 closed

[2017-03-23 07:01] yegor256 opened #3 "graph layout is not perfect"

[2017-03-23 08:35] yegor256 commented on #3
@rultor release, tag is `0.2.1`

[2017-03-23 08:36] yegor256 opened #4 "ping every minute"

[2017-03-23 08:36] rultor commented on #3
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11211-288650620)

[2017-03-23 08:39] rultor commented on #3
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11211-288650620) (spent 3min)

[code]

[2017-03-23 08:39] yegor256 commented on #3
@rultor release, tag is `0.2.1`

[2017-03-23 08:41] rultor commented on #3
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11211-288651411)

[2017-03-23 08:44] rultor commented on #3
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11211-288651411) (took me 3min)

[2017-03-23 08:45] #3 closed

[2017-03-23 09:50] yegor256 commented on #4
@rultor release, tag is `0.2.2`

[2017-03-23 09:51] rultor commented on #4
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11212-288668008)

[2017-03-23 09:54] rultor commented on #4
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11212-288668008) (took me 3min)

[2017-03-23 09:57] #4 closed

[2017-03-23 10:10] yegor256 opened #5 "terms of use"

[2017-03-23 10:20] yegor256 commented on #5
@rultor release, tag is `0.3`

[2017-03-23 10:21] rultor commented on #5
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11213-288675390)

[2017-03-23 10:23] rultor commented on #5
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11213-288675390) (took me 3min)

[2017-03-23 10:49] #5 closed

[2017-03-23 13:10] yegor256 opened #6 "stripe"

[2017-03-23 15:37] yegor256 commented on #6
@rultor release, tag is `0.4`

[2017-03-23 15:38] rultor commented on #6
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11218-288759267)

[2017-03-23 15:41] rultor commented on #6
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11218-288759267) (took me 3min)

[2017-03-23 15:44] #6 closed

[2017-03-23 15:45] yegor256 opened #7 "ID's must be unique"

[2017-03-23 16:20] yegor256 commented on #7
@rultor release, tag is `0.4.1`

[2017-03-23 16:20] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11221-288774730)

[2017-03-23 16:23] rultor commented on #7
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11221-288774730) (took me 3min)

[2017-03-23 16:23] #7 closed

[2017-03-23 16:24] yegor256 opened #8 "live Stripe"

[2017-03-23 16:25] yegor256 commented on #8
@rultor release, tag is `0.4.2`

[2017-03-23 16:26] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11222-288776367)

[2017-03-23 16:29] rultor commented on #8
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11222-288776367) (took me 3min)

[2017-03-23 17:03] #8 closed

[2017-03-27 13:36] yegor256 opened #9 "coupons"

[2017-03-27 13:48] yegor256 commented on #9
@rultor release, tag is `0.5`

[2017-03-27 13:49] rultor commented on #9
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11243-289458542)

[2017-03-27 13:52] rultor commented on #9
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11243-289458542) (took me 3min)

[2017-03-27 13:52] #9 closed

[2017-03-27 13:58] yegor256 opened #10 "availability is not calculated correctly"

[2017-03-27 14:05] yegor256 commented on #10
@rultor release, tag is `0.5.1`

[2017-03-27 14:06] rultor commented on #10
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11244-289463631)

[2017-03-27 14:09] rultor commented on #10
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11244-289463631) (took me 3min)

[2017-03-27 14:09] #10 closed

[2017-03-27 14:09] yegor256 opened #11 "100% must never show up"

[2017-03-27 14:16] yegor256 commented on #11
@rultor release, tag is `0.5.2`

[2017-03-27 14:17] rultor commented on #11
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11245-289467090)

[2017-03-27 14:20] rultor commented on #11
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11245-289467090) (took me 3min)

[2017-03-27 14:23] #11 closed

[2017-03-27 14:28] yegor256 opened #12 "our own badge"

[2017-03-27 14:32] yegor256 commented on #12
@rultor release, tag is `0.6`

[2017-03-27 14:33] rultor commented on #12
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11247-289471780)

[2017-03-27 14:34] yegor256 opened #13 "numbers are off when there are no failures"

[2017-03-27 14:37] rultor commented on #12
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11247-289471780) (took me 3min)

[2017-03-27 14:53] #12 closed

[2017-03-27 15:08] yegor256 commented on #13
@rultor release, tag is `0.6.1`

[2017-03-27 15:09] rultor commented on #13
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11248-289483157)

[2017-03-27 15:13] #13 closed

[2017-03-27 15:13] rultor commented on #13
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11248-289483157) (took me 4min)

[2017-03-27 15:19] yegor256 opened #14 "caching"
We make too many DynamoDB requests. Let's introduce a simple in-memory caching layer for most intensive requests.

[2017-03-28 05:10] yegor256 opened #15 "show age of endpoint"

[2017-03-28 05:21] yegor256 commented on #15
@rultor release, tag is `0.7`

[2017-03-28 05:21] rultor commented on #15
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11254-289666136)

[2017-03-28 05:25] rultor commented on #15
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11254-289666136) (took me 4min)

[2017-03-28 05:26] #15 closed

[2017-03-28 05:27] yegor256 opened #16 "flips order is broken in front page"

[2017-03-28 05:30] yegor256 commented on #16
@rultor release, tag is `0.7.1`

[2017-03-28 05:31] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11255-289667365)

[2017-03-28 05:34] rultor commented on #16
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11255-289667365) (took me 3min)

[2017-03-28 05:38] #16 closed

[2017-03-28 12:43] yegor256 opened #17 "terminate requests if over 5 seconds"

[2017-03-28 12:55] yegor256 commented on #17
@rultor release, tag is `0.7.2`

[2017-03-28 12:56] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11259-289760464)

[2017-03-28 13:00] rultor commented on #17
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11259-289760464) (took me 4min)

[2017-03-28 13:08] #17 closed

[2017-03-28 14:50] yegor256 opened #18 "show URI"

[2017-03-28 14:53] yegor256 commented on #18
@rultor release, tag is `0.7.3`

[2017-03-28 14:54] rultor commented on #18
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11260-289796128)

[2017-03-28 14:57] rultor commented on #18
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11260-289796128) (took me 3min)

[2017-03-28 14:57] #18 closed

[2017-03-29 06:30] yegor256 opened #19 "show average and mean time"

[2017-03-29 07:19] yegor256 commented on #19
@rultor release, tag is `0.8`

[2017-03-29 07:20] rultor commented on #19
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11267-290004798)

[2017-03-29 07:22] rultor commented on #19
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11267-290004798) (took me 3min)

[2017-03-29 07:26] #19 closed

[2017-03-30 09:57] yegor256 opened #20 "show most recent failure HTTP details"

[2017-03-30 11:03] yegor256 opened #21 "tweet about ups and downs"

[2017-03-30 11:03] yegor256 opened #22 "email subscribe to endpoints"
A user should be able to subscribe to any endpoint and receive emails when the status changes. By default endpoint owner must be subscribed.

[2017-03-30 21:19] #20 closed

[2017-03-30 21:19] yegor256 commented on #20
@rultor release, tag is `0.9`

[2017-03-30 21:19] rultor commented on #20
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11281-290548126)

[2017-03-30 21:20] yegor256 opened #23 "retry three times if URI is not accessible"

[2017-03-30 21:23] rultor commented on #20
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11281-290548126) (spent 4min)

[code]

[2017-03-30 21:24] yegor256 commented on #23
@rultor release, tag is `0.9`

[2017-03-30 21:26] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11282-290549371)

[2017-03-30 21:29] rultor commented on #23
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11282-290549371) (spent 4min)

[code]

[2017-03-30 21:38] yegor256 commented on #23
@rultor release, tag is `0.9`

[2017-03-30 21:38] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11282-290552574)

[2017-03-30 21:41] rultor commented on #23
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11282-290552574) (took me 3min)

[2017-03-30 21:43] #23 closed

[2017-03-30 23:16] yegor256 commented on #21
@rultor release, tag is `0.10`

[2017-03-30 23:17] rultor commented on #21
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11283-290571696)

[2017-03-30 23:20] rultor commented on #21
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11283-290571696) (took me 3min)

[2017-03-30 23:25] #21 closed

[2017-03-30 23:25] yegor256 opened #24 "escape html entities in the log"

[2017-03-30 23:28] yegor256 commented on #24
@rultor release, tag is `0.10.1`

[2017-03-30 23:29] rultor commented on #24
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11284-290573785)

[2017-03-30 23:30] yegor256 opened #25 "multiple source points"
Let's add a few more servers, where we can ping endpoints from. When connection fails, we should try to do it from another server, two times. Only if they both fail, we report a failure.

[2017-03-30 23:32] rultor commented on #24
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11284-290573785) (took me 3min)

[2017-03-30 23:34] #24 closed

[2017-03-31 09:30] yegor256 opened #26 "numbers rounding is not accurate"

[2017-03-31 09:38] yegor256 commented on #26
@rultor release, tag is `0.10.2`

[2017-03-31 09:39] rultor commented on #26
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11286-290667106)

[2017-03-31 09:43] rultor commented on #26
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11286-290667106) (took me 4min)

[2017-03-31 09:43] #26 closed

[2017-04-02 10:30] yegor256 opened #27 "show flip date in history"

[2017-04-02 10:31] yegor256 opened #28 "show hours vertical lines in the graph"

[2017-04-02 10:32] yegor256 commented on #14
Let's try this one: https://github.com/SamSaffron/lru_redux

[2017-04-02 19:57] yegor256 opened #29 "show only failure logs"

[2017-04-02 20:09] yegor256 commented on #29
@rultor release, tag is `0.10.3`

[2017-04-02 20:10] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11296-291011353)

[2017-04-02 20:14] rultor commented on #29
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11296-291011353) (took me 4min)

[2017-04-03 04:40] #29 closed

[2017-04-03 15:47] yegor256 opened #30 "DynamoDB Local"

[2017-04-03 16:55] yegor256 opened #31 "show favicon in History page"

[2017-04-04 07:50] yegor256 commented on #30
@rultor release, tag is `0.11`

[2017-04-04 07:51] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11313-291422173)

[2017-04-04 07:58] rultor commented on #30
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11313-291422173) (spent 7min)

[code]

[2017-04-04 08:02] yegor256 commented on #30
@rultor release, tag is `0.11`

[2017-04-04 08:03] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11313-291424510)

[2017-04-04 08:08] rultor commented on #30
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11313-291424510) (took me 5min)

[2017-04-04 08:13] #30 closed

[2017-04-04 08:15] #27 closed

[2017-04-04 08:15] yegor256 opened #32 "email all server-side bugs"
Let's email them to bugs@sixnines.io

[2017-04-04 19:04] yegor256 opened #33 "endpoint.to_h: undefined method `[]' for nil:NilClass"
[code]

[2017-04-04 19:41] yegor256 commented on #33
@rultor release, tag is `0.11.1`

[2017-04-04 19:42] rultor commented on #33
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11323-291610171)

[2017-04-04 19:46] yegor256 opened #34 "AMP pages"
Let's add AMP pages for all history pages.

[2017-04-04 19:47] yegor256 opened #35 "sitemap.xml"
Let's create it for Google and others (together with `robots.txt`)

[2017-04-04 19:47] rultor commented on #33
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11323-291610171) (took me 5min)

[2017-04-04 19:48] yegor256 opened #36 "pulse"
Let's show our current rate of pinging endpoints, to make sure we're alive. Let's just increment some global counter and show that counter on the front page. Let's update it via JavaScript, every second.

[2017-04-04 19:48] #33 closed

[2017-04-04 19:49] yegor256 opened #37 "RSS with ups and downs"
Let's generate RSS with flips

[2017-04-06 11:06] yegor256 opened #38 "incomplete URLs in Twitter"

[2017-04-06 11:30] yegor256 commented on #38
@rultor release, tag is `0.11.2`

[2017-04-06 11:30] rultor commented on #38
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11340-292145602)

[2017-04-06 11:31] yegor256 opened #39 "link to twitter and RSS"

[2017-04-06 11:33] rultor commented on #38
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11340-292145602) (took me 3min)

[2017-04-06 11:33] #38 closed

[2017-04-06 11:34] yegor256 commented on #39
@rultor release, tag is `0.11.3`

[2017-04-06 11:36] rultor commented on #39
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11341-292146423)

[2017-04-06 11:38] rultor commented on #39
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11341-292146423) (took me 3min)

[2017-04-06 11:40] #39 closed

[2017-04-07 09:43] 0pdd opened #40 "cookie.rb:29-31: We are not encrypting cooking anyhow..."
The puzzle `1-e122d8f8` in [`objects/cookie.rb`](https://github.com/yegor256/sixnines/blob/master/objects/cookie.rb) (lines 29-31) has to be resolved: We are not encrypting cooking anyhow at the moment and this is not secure at all. Let's introduce some encryption mechanism with a secret key.

The puzzle was created by Yegor Bugayenko on 07-Apr-17.

Estimate: 30 minutes, role: IMP.

If you have an

[2017-04-11 17:00] yegor256 opened #41 "show duration of the last time after flip"

[2017-04-13 14:34] yegor256 opened #42 "Basic Auth directly from URIs"
Let's make it possible to specify login/password right in the URI for Basic Auth:

[code]

[2017-04-13 14:39] yegor256 opened #43 "twitter:image"
Let's add twitter:image to the history page.

[2017-04-13 17:09] mmbug opened #44 "human readable dates and times"
show all times and dates in human readable format

[2017-04-13 17:19] mmbug opened #45 "handle empty search query"
on index page searchin an empty keyword results exception

[2017-04-18 19:19] #31 closed

[2017-04-18 20:12] yegor256 opened #51 "get avatar from GitHub for a user"

[2017-04-19 12:46] yegor256 commented on #51
Not necessary

[2017-04-19 12:46] #51 closed

[2017-04-19 12:46] yegor256 opened #53 "flat badge"

[2017-04-19 13:43] yegor256 commented on #53
@rultor release, tag is `0.12`

[2017-04-19 13:43] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11431-295274857)

[2017-04-19 13:49] rultor commented on #53
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11431-295274857) (took me 5min)

[2017-04-19 13:57] #53 closed

[2017-04-19 13:58] yegor256 opened #54 "favicon is always default"

[2017-04-19 15:01] yegor256 commented on #54
@rultor release, tag is `0.12.1`

[2017-04-19 15:02] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11432-295300974)

[2017-04-19 15:09] rultor commented on #54
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11432-295300974) (spent 6min)

[code]

[2017-04-19 15:10] yegor256 commented on #54
@rultor release, tag is `0.12.1`

[2017-04-19 15:11] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11432-295304012)

[2017-04-19 15:18] rultor commented on #54
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11432-295304012) (took me 7min)

[2017-04-19 15:19] #54 closed

[2017-04-19 20:14] yegor256 opened #56 "cache favicons"

[2017-04-19 20:20] #56 closed

[2017-04-19 20:25] yegor256 commented on #45
@mmbug it's fixed, please check and close this ticket. Thanks

[2017-04-19 20:53] yegor256 commented on #44
@mmbug it's fixed, please check and close the ticket

[2017-04-19 20:54] 0pdd commented on #40
The puzzle `1-e122d8f8` has disappeared from the source code, that's why I closed this issue.

[2017-04-19 20:54] #40 closed

[2017-04-19 21:26] #37 closed

[2017-04-19 22:20] #35 closed

[2017-04-19 22:22] yegor256 opened #57 "w3c compliance"
See https://validator.w3.org/nu/?doc=http%3A%2F%2Fwww.sixnines.io%2F

And this https://validator.w3.org/nu/?doc=http%3A%2F%2Fwww.sixnines.io%2Fh%2Fe203

[2017-04-20 06:32] yegor256 opened #58 "find favicon in HEAD"

[2017-04-20 09:46] yegor256 opened #59 "show full info in JSON"

[2017-04-20 10:02] #59 closed

[2017-04-20 10:02] yegor256 commented on #59
@rultor release, tag is `0.13`

[2017-04-20 10:02] rultor commented on #59
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11439-295662188)

[2017-04-20 10:09] rultor commented on #59
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11439-295662188) (took me 6min)

[2017-04-20 15:21] yegor256 commented on #58
@rultor release, tag is `0.13.1`

[2017-04-20 15:28] rultor commented on #58
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11443-295776350) (took me 6min)

[2017-04-20 15:58] #58 closed

[2017-04-21 15:18] yegor256 opened #61 "three colors for badge"

[2017-04-21 15:58] yegor256 commented on #61
@rultor release, tag is `0.14`

[2017-04-21 15:58] rultor commented on #61
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11460-296230785)

[2017-04-21 16:05] rultor commented on #61
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11460-296230785) (took me 6min)

[2017-04-21 16:05] #61 closed

[2017-04-21 21:56] yegor256 commented on #34
@rultor release, tag is `0.15`

[2017-04-21 21:56] rultor commented on #34
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11466-296314745)

[2017-04-21 22:07] rultor commented on #34
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11466-296314745) (spent 11min)

[code]

[2017-04-21 22:08] yegor256 commented on #34
@rultor release, tag is `0.15`

[2017-04-21 22:09] rultor commented on #34
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11466-296316769)

[2017-04-21 22:16] rultor commented on #34
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11466-296316769) (spent 6min)

[code]

[2017-04-22 06:47] yegor256 opened #62 "hide non-relevant points from the graph"

[2017-04-22 07:24] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-22 07:25] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-296354637)

[2017-04-22 07:31] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-296354637) (spent 6min)

[code]

[2017-04-22 07:31] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-22 07:33] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-296354953)

[2017-04-22 07:38] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-296354953) (spent 5min)

[code]

[2017-04-22 07:48] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-22 07:48] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-296355678)

[2017-04-22 07:50] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-296355678) (spent 3min)

[code]

[2017-04-23 05:40] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-23 05:41] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-296421199)

[2017-04-23 05:47] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-296421199) (spent 6min)

[code]

[2017-04-23 07:50] #34 closed

[2017-04-24 12:20] #45 closed

[2017-04-24 12:21] mmbug opened #63 "http://www.sixnines.io/h/bd9e human readable page title"
subj

[2017-04-24 12:21] 0crat commented on #63
@yegor256 please, pay attention to this issue

[2017-04-24 12:40] amihaiemil opened #64 "Consider another logo"
The leaf logo looks too much like the Spring and baeldung.com logos, in my opinion. :D

[2017-04-24 12:40] 0crat commented on #64
@yegor256 please, pay attention to this issue

[2017-04-24 14:52] yegor256 opened #65 "badges are black in Safari and on iPhone"
<img width="1080" alt="screen shot 2017-04-23 at 8 38 16 am" src="https://cloud.githubusercontent.com/assets/526301/25343145/d5a60fb0-2916-11e7-835b-23e46d1d5440.png">

[2017-04-24 16:50] yegor256 commented on #65
fixed in #66

[2017-04-24 16:50] #65 closed

[2017-04-24 16:50] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-24 16:51] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-296739864)

[2017-04-24 16:55] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-296739864) (spent 4min)

[code]

[2017-04-24 16:57] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-24 16:57] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-296743094)

[2017-04-24 17:01] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-296743094) (spent 4min)

[code]

[2017-04-24 17:11] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-24 17:12] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-296750477)

[2017-04-24 17:15] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-296750477) (spent 3min)

[code]

[2017-04-24 17:24] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-24 17:25] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-296757005)

[2017-04-24 18:17] yegor256 commented on #62
@rultor stop

[2017-04-24 18:17] rultor commented on #62
@yegor256 OK, I'll try to stop current task.

[2017-04-24 18:19] rultor commented on #62
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-296777851) (spent 54min)

[code]

[2017-04-25 06:39] yegor256 commented on #64
@amihaiemil yes, it's close, but not exactly the same :) But thanks for mentioning it. We'll think it over.

[2017-04-25 12:28] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-25 12:29] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-297014177)

[2017-04-25 12:32] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-297014177) (spent 3min)

[code]

[2017-04-25 20:26] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-25 20:27] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-297154607)

[2017-04-25 20:30] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-297154607) (spent 3min)

[code]

[2017-04-25 20:41] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-25 20:42] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-297158410)

[2017-04-25 20:43] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-297158410) (spent 1min)

[code]

[2017-04-25 20:44] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-25 20:46] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-297159289)

[2017-04-25 20:47] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11469-297159289) (spent 1min)

[code]

[2017-04-25 20:58] yegor256 commented on #62
@rultor release, tag is `0.14.1`

[2017-04-25 20:59] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11469-297162970)

[2017-04-25 21:03] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11469-297162970) (took me 4min)

[2017-04-25 21:03] #62 closed

[2017-04-26 17:05] yegor256 commented on #42
@rultor release, tag is `0.14.2`

[2017-04-26 17:06] rultor commented on #42
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11526-297477527)

[2017-04-26 17:08] yegor256 commented on #42
@rultor stop

[2017-04-26 17:09] rultor commented on #42
@yegor256 OK, I'll try to stop current task.

[2017-04-26 17:10] rultor commented on #42
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11526-297478358) (spent 4min)

[code]

[2017-05-01 05:20] yegor256 opened #68 "badge in PNG"
Let's make it possible to deliver it in PNG

[2017-05-01 07:54] yegor256 commented on #68
@rultor release, tag is `0.15`

[2017-05-01 07:54] rultor commented on #68
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11556-298301252)

[2017-05-01 07:58] rultor commented on #68
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11556-298301252) (took me 4min)

[2017-05-01 08:34] #68 closed

[2017-05-02 18:07] 0crat commented on #31
Oops! Job `gh:yegor256/sixnines#31` was not in scope

[2017-05-02 18:07] 0crat commented on #51
Oops! Job `gh:yegor256/sixnines#51` was not in scope

[2017-05-02 18:07] 0crat commented on #53
Oops! Job `gh:yegor256/sixnines#53` was not in scope

[2017-05-02 18:07] 0crat commented on #54
Oops! Job `gh:yegor256/sixnines#54` was not in scope

[2017-05-02 18:07] 0crat commented on #56
Oops! Job `gh:yegor256/sixnines#56` was not in scope

[2017-05-02 18:07] 0crat commented on #40
Oops! Job `gh:yegor256/sixnines#40` was not in scope

[2017-05-02 18:08] 0crat commented on #37
Oops! Job `gh:yegor256/sixnines#37` was not in scope

[2017-05-02 18:08] 0crat commented on #35
Oops! Job `gh:yegor256/sixnines#35` was not in scope

[2017-05-02 18:08] 0crat commented on #59
Oops! Job `gh:yegor256/sixnines#59` was not in scope

[2017-05-02 18:08] 0crat commented on #58
Oops! Job `gh:yegor256/sixnines#58` was not in scope

[2017-05-02 18:08] 0crat commented on #61
Oops! Job `gh:yegor256/sixnines#61` was not in scope

[2017-05-02 18:08] 0crat commented on #34
Oops! Job `gh:yegor256/sixnines#34` was not in scope

[2017-05-02 18:08] 0crat commented on #45
Oops! Job `gh:yegor256/sixnines#45` was not in scope

[2017-05-02 18:08] 0crat commented on #65
Oops! Job `gh:yegor256/sixnines#65` was not in scope

[2017-05-02 18:08] 0crat commented on #62
Oops! Job `gh:yegor256/sixnines#62` was not in scope

[2017-05-02 18:08] 0crat commented on #68
Oops! Job `gh:yegor256/sixnines#68` was not in scope

[2017-05-04 09:51] yegor256 opened #69 "clean up for the admin"
Let's make it possible to clean up an end point

[2017-05-04 10:25] yegor256 commented on #69
@rultor release, tag is `0.16`

[2017-05-04 10:26] rultor commented on #69
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11581-299148292)

[2017-05-04 10:30] rultor commented on #69
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11581-299148292) (took me 4min)

[2017-05-04 10:31] #69 closed

[2017-05-04 10:32] 0crat commented on #69
Oops! Job `gh:yegor256/sixnines#69` was not in scope

[2017-05-07 07:20] yegor256 opened #70 "full log of all failures"
Let's record all of them in a new DynamoDB table and render a full log for users. This will help us to prove all of them.

[2017-05-07 07:27] yegor256 opened #71 "change /favicon.ico to PNG type and extension"

[2017-05-07 18:31] spitty opened #72 "Pages for sites are not available with 503 error"
Currently any link to specific site (e.g. http://www.sixnines.io/h/3ba1652f) shows 503 error with next stacktrace:

[code]

It points to this line: https://github.com/yegor256/sixnines/blob/master/views/history.haml#L5

[2017-05-07 18:31] 0crat commented on #72
@yegor256 please, pay attention to this issue

[2017-05-07 18:41] yegor256 commented on #72
@spitty thanks for reporting, let me fix it

[2017-05-08 07:49] yegor256 commented on #72
@rultor release, tag is `0.16.1`

[2017-05-08 07:50] rultor commented on #72
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11615-299797342)

[2017-05-08 07:55] rultor commented on #72
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11615-299797342) (took me 4min)

[2017-05-08 08:29] 0crat commented on #72
@yegor256 please, ask @spitty to close this issue and [read more](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html)

[2017-05-08 08:29] 0crat commented on #72
@yegor256 please, pay attention to this issue

[2017-05-08 08:31] yegor256 commented on #72
@spitty please, check again, should work just fine

[2017-05-10 19:59] spitty commented on #72
@yegor256
It works properly. Thank you.

[2017-05-10 19:59] #72 closed

[2017-05-10 19:59] 0crat commented on #72
Oops! Job `gh:yegor256/sixnines#72` was not in scope

[2017-05-17 08:37] #71 closed

[2017-05-17 08:37] 0crat commented on #71
Oops! Job `gh:yegor256/sixnines#71` was not in scope

[2017-05-17 08:38] yegor256 commented on #64
@amihaiemil we decided to stay with the current logo :)

[2017-05-17 08:38] #64 closed

[2017-05-17 12:53] yegor256 commented on #25
@rultor release, tag is `0.17`

[2017-05-17 12:54] rultor commented on #25
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11705-302080694)

[2017-05-17 12:58] rultor commented on #25
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11705-302080694) (took me 4min)

[2017-05-17 12:58] #25 closed

[2017-05-17 12:58] 0crat commented on #25
Oops! Job `gh:yegor256/sixnines#25` was not in scope

[2017-05-23 05:32] yegor256 opened #73 "any 20x response code is OK"
Let's treat them all as OK

[2017-05-23 06:06] yegor256 commented on #73
@rultor release, tag is `0.18`

[2017-05-23 06:07] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11735-303299344)

[2017-05-23 06:14] rultor commented on #73
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11735-303299344) (spent 7min)

[code]

[2017-05-23 06:24] yegor256 commented on #73
@rultor release, tag is `0.18`

[2017-05-23 06:25] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11735-303301935)

[2017-05-23 06:28] rultor commented on #73
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11735-303301935) (spent 3min)

[code]

[2017-05-23 06:35] yegor256 commented on #73
@rultor release, tag is `0.18`

[2017-05-23 06:36] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11735-303303778)

[2017-05-23 06:39] rultor commented on #73
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11735-303303778) (spent 3min)

[code]

[2017-05-23 07:02] yegor256 commented on #73
@rultor release, tag is `0.18`

[2017-05-23 07:03] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11735-303308626)

[2017-05-23 07:08] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11735-303308626) (took me 4min)

[2017-05-23 07:10] #73 closed

[2017-05-23 07:10] 0crat commented on #73
Oops! Job `gh:yegor256/sixnines#73` was not in scope

[2017-07-19 10:15] yegor256 opened #74 "sentry.io"
Let's use sentry.io for exception catching and tracking.

[2017-07-19 17:09] yegor256 commented on #74
@rultor release, tag is `0.19`

[2017-07-19 17:09] rultor commented on #74
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12412-316453826)

[2017-07-19 17:15] rultor commented on #74
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12412-316453826) (took me 6min)

[2017-07-19 17:16] #74 closed

[2017-07-19 17:17] 0crat commented on #74
Oops! Job `gh:yegor256/sixnines#74` was not in scope

[2017-07-30 11:36] yegor256 opened #75 "undefined method `>' for nil:NilClass"
[code]

[2017-07-31 08:22] yegor256 opened #76 "Timeout::Error: execution expired"
[code]

[2017-07-31 13:56] yegor256 commented on #75
@0crat assign @pdacostaporto

[2017-07-31 13:56] yegor256 commented on #76
@0crat assign @pdacostaporto

[2017-07-31 13:56] 0crat commented on #75
@yegor256 Job `gh:yegor256/sixnines#75` assigned to @pdacostaporto, please go ahead.

[2017-07-31 13:56] 0crat commented on #75
+15 points just awarded to @yegor256, total is [+720](http://www.0crat.com/u/yegor256).

[2017-07-31 13:57] 0crat commented on #76
@yegor256 Job `gh:yegor256/sixnines#76` assigned to @pdacostaporto, please go ahead.

[2017-07-31 13:57] 0crat commented on #76
+15 points just awarded to @yegor256, total is [+735](http://www.0crat.com/u/yegor256).

[2017-07-31 19:52] yegor256 opened #77 "no implicit conversion of nil into String"
[code]

[2017-08-07 06:22] pdacostaporto commented on #76
@yegor256 what is Resourse.take supposed to do on timeout?

[2017-08-07 06:35] yegor256 commented on #76
@pdacostaporto I guess it should return something like:

[code]

[2017-08-09 14:46] 0crat commented on #76
@rultor please, ask @yegor256 to close this issue and [read more](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html)

[2017-08-09 14:49] rultor commented on #76
@0crat Thanks for your request. @yegor256 Please confirm this.

[2017-08-10 06:31] 0crat commented on #75
@rultor please, ask @yegor256 to close this issue and [read more](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html)

[2017-08-10 06:34] rultor commented on #75
@0crat Thanks for your request. @yegor256 Please confirm this.

[2017-08-11 07:09] pdacostaporto commented on #75
@yegor256 should this be closed or did I miss something?

[2017-08-11 07:10] pdacostaporto commented on #76
@yegor256 same here, did I miss something?

[2017-08-11 08:14] yegor256 commented on #75
@pdacostaporto when you finish/fix the bug/ticket, please post a message to the ticket author (myself in this case) that it has to be closed.

[2017-08-11 08:14] #75 closed

[2017-08-11 08:14] 0crat commented on #75
Job `gh:yegor256/sixnines#75` is now out of scope.

[2017-08-11 08:14] yegor256 commented on #75
@pdacostaporto and many thanks for your help! :)

[2017-08-11 08:14] 0crat commented on #75
+30 points just awarded to @pdacostaporto, total is [+75](http://www.0crat.com/u/pdacostaporto).

[2017-08-11 08:17] yegor256 commented on #43
@0crat in

[2017-08-11 08:17] 0crat commented on #43
I'm not managing ` yegor256/sixnines ` GitHub repository. You have to contact me in Slack first. Our [policy](http://datum.zerocracy.com/pages/policy.html) explains how.

[2017-08-11 08:17] #42 closed

[2017-08-11 08:17] yegor256 commented on #32
we are using Sentry now

[2017-08-11 08:17] #32 closed

[2017-08-11 08:18] yegor256 commented on #14
@0crat in

[2017-08-11 08:18] 0crat commented on #14
I'm not managing ` yegor256/sixnines ` GitHub repository. You have to contact me in Slack first. Our [policy](http://datum.zerocracy.com/pages/policy.html) explains how.

[2017-08-11 08:22] pdacostaporto commented on #76
@yegor256 please close this one too if you think it's done.

[2017-08-11 08:26] pdacostaporto commented on #75
@yegor256 you're welcome. I'm open for new tasks if needed.

[2017-08-11 12:36] yegor256 commented on #76
@pdacostaporto thanks a lot!

[2017-08-11 12:36] #76 closed

[2017-08-11 12:36] yegor256 commented on #76
@rultor release, tag is `0.19.1`

[2017-08-11 12:36] rultor commented on #76
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12644-321801383)

[2017-08-11 12:37] yegor256 commented on #14
@0crat in

[2017-08-11 12:38] 0crat commented on #14
@yegor256 Job `gh:yegor256/sixnines#14` is in scope.

[2017-08-11 12:38] 0crat commented on #14
+15 points just awarded to @yegor256, total is [+1515](http://www.0crat.com/u/yegor256).

[2017-08-11 12:41] yegor256 commented on #14
@0crat assign @pdacostaporto

[2017-08-11 12:42] yegor256 commented on #77
@0crat assign @pdacostaporto

[2017-08-11 12:42] 0crat commented on #14
@yegor256 Job `gh:yegor256/sixnines#14` assigned to @pdacostaporto, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-11 12:42] 0crat commented on #77
@yegor256 Job `gh:yegor256/sixnines#77` assigned to @pdacostaporto, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-11 12:42] rultor commented on #76
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12644-321801383) (took me 5min)

[2017-08-11 12:42] 0crat commented on #77
+15 points just awarded to @yegor256, total is [+1530](http://www.0crat.com/u/yegor256).

[2017-08-11 12:50] yegor256 opened #81 "Errno::ENETUNREACH: Network is unreachable"
There some other issue in production:

[code]

[2017-08-11 12:50] yegor256 commented on #81
@0crat assign @pdacostaporto

[2017-08-11 12:51] 0crat commented on #81
@yegor256 Job `gh:yegor256/sixnines#81` assigned to @pdacostaporto, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-11 12:51] 0crat commented on #81
+15 points just awarded to @yegor256, total is [+1545](http://www.0crat.com/u/yegor256).

[2017-08-11 12:52] yegor256 commented on #36
@0crat assign @pdacostaporto

[2017-08-11 12:53] yegor256 commented on #57
@0crat assign @pdacostaporto

[2017-08-11 12:53] 0crat commented on #36
+15 points just awarded to @yegor256, total is [+1560](http://www.0crat.com/u/yegor256).

[2017-08-11 12:53] 0crat commented on #57
@yegor256 Job `gh:yegor256/sixnines#57` assigned to @pdacostaporto, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-11 12:53] 0crat commented on #57
+15 points just awarded to @yegor256, total is [+1575](http://www.0crat.com/u/yegor256).

[2017-08-11 12:54] yegor256 commented on #63
This seems to be working fine now

[2017-08-11 12:54] #63 closed

[2017-08-11 13:10] yegor256 commented on #70
@0crat in

[2017-08-11 13:11] #41 closed

[2017-08-11 13:11] #28 closed

[2017-08-11 13:11] 0crat commented on #70
@yegor256 Job `gh:yegor256/sixnines#70` is in scope.

[2017-08-11 13:11] 0crat commented on #41
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-11 13:11] 0crat commented on #70
+15 points just awarded to @yegor256, total is [+1590](http://www.0crat.com/u/yegor256).

[2017-08-11 13:11] #22 closed

[2017-08-11 13:11] 0crat commented on #28
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-11 13:11] 0crat commented on #22
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-11 13:13] yegor256 commented on #22
There are other systems for that, e.g. statuscake.com

[2017-08-11 13:14] yegor256 opened #82 "Zlib::BufError: buffer error"
In production:

[code]

[2017-08-11 13:14] yegor256 commented on #82
@0crat assign @pdacostaporto

[2017-08-11 13:14] 0crat commented on #82
@yegor256 Job `gh:yegor256/sixnines#82` assigned to @pdacostaporto, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-11 13:14] 0crat commented on #82
+15 points just awarded to @yegor256, total is [+1605](http://www.0crat.com/u/yegor256).

[2017-08-11 16:36] yegor256 opened #83 "Net::HTTPServerException: 407 "Proxy Authentication Required""
In production an hour ago:

[code]

[2017-08-11 16:36] yegor256 commented on #83
@0crat in

[2017-08-11 16:37] 0crat commented on #83
@yegor256 Job `gh:yegor256/sixnines#83` is in scope.

[2017-08-11 16:37] 0crat commented on #83
+15 points just awarded to @yegor256, total is [+1620](http://www.0crat.com/u/yegor256).

[2017-08-16 05:29] pdacostaporto commented on #82
@yegor256 I couldn't reproduce the bug. Is there any additional information about it? I guess it could be something related to [corrupt or erroneous compression information in responses](https://stackoverflow.com/questions/18243426/ruby-mechanize-zlibbuferror#18243892), but tried some cases with no luck.

For the moment, I simulated the exception and returned another array with 500 code.

[2017-08-16 05:34] pdacostaporto commented on #83
@yegor256 this should be treated as if it was a successful request, right?

[2017-08-16 05:39] pdacostaporto commented on #81
@yegor256 should this be another 500 code case?

[2017-08-16 06:54] yegor256 commented on #81
@pdacostaporto yes, sure, but with a new custom message, I guess.

[2017-08-16 06:56] yegor256 commented on #82
@pdacostaporto OK, please submit a pull request

[2017-08-16 06:56] yegor256 commented on #83
@pdacostaporto yes, this is the failure on our side, we should not blame the target

[2017-08-17 08:37] pdacostaporto commented on #82
@yegor256 check #84 and close this if you think it's ok

[2017-08-17 17:38] yegor256 commented on #82
@rultor release, tag is `0.19.2`

[2017-08-17 17:38] yegor256 commented on #82
@pdacostaporto thanks!

[2017-08-17 17:38] #82 closed

[2017-08-17 17:39] 0crat commented on #82
Job `gh:yegor256/sixnines#82` is now out of scope.

[2017-08-17 17:39] 0crat commented on #82
+30 points just awarded to @pdacostaporto, total is [+120](http://www.0crat.com/u/pdacostaporto).

[2017-08-17 17:41] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12718-323143134)

[2017-08-17 17:47] rultor commented on #82
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12718-323143134) (took me 6min)

[2017-08-18 04:21] pdacostaporto commented on #36
@yegor256 check #85

[2017-08-18 09:11] pdacostaporto commented on #83
@yegor256 check #86

[2017-08-18 09:12] pdacostaporto commented on #81
@yegor256 check #86

[2017-08-20 04:43] pdacostaporto commented on #77
@yegor256 looks like some problem with cookies. I would like log in to my development instance but sign-in option gives me [404](https://github.com/login/oauth/authorize?client_id=test&redirect_uri=http://www.sixnines.io/oauth). How do you simulate login?

[2017-08-20 04:51] pdacostaporto commented on #14
@yegor256 which would be the most intensive querys? I suppose they are those in `Base.flips` and `Base.ping`. Am I right? Are there any others?

[2017-08-20 05:16] pdacostaporto commented on #14
@yegor256 another question: would you like it the cache to be cleared after a TTL or on database updates?

[2017-08-20 16:28] yegor256 commented on #14
@pdacostaporto I think that the most important for us are these:

  * https://github.com/yegor256/sixnines/blob/0.19.2/objects/base.rb#L42-L52
  * https://github.com/yegor256/sixnines/blob/0.19.2/objects/base.rb#L76-L85
  * https://github.com/yegor256/sixnines/blob/0.19.2/objects/base.rb#L91-L101
  * https://github.com/yegor256/sixnines/blob/0.19.2/objects/endpoint.rb#L88-L102

Would be great to f

[2017-08-20 16:53] pdacostaporto commented on #83
@yegor256 close this if it's done

[2017-08-20 16:54] pdacostaporto commented on #81
@yegor256 close this if you think it's done

[2017-08-20 16:54] pdacostaporto commented on #36
@yegor256 close this if you think it's done

[2017-08-20 18:08] yegor256 commented on #81
@rultor release, tag is `0.19.3`

[2017-08-20 18:08] #81 closed

[2017-08-20 18:08] 0crat commented on #81
Job `gh:yegor256/sixnines#81` is now out of scope.

[2017-08-20 18:08] 0crat commented on #81
+30 points just awarded to @pdacostaporto, total is [+195](http://www.0crat.com/u/pdacostaporto).

[2017-08-20 18:08] yegor256 commented on #36
@pdacostaporto thanks!

[2017-08-20 18:08] #36 closed

[2017-08-20 18:08] yegor256 commented on #83
@pdacostaporto thanks!

[2017-08-20 18:08] #83 closed

[2017-08-20 18:08] 0crat commented on #36
Job `gh:yegor256/sixnines#36` is now out of scope.

[2017-08-20 18:08] 0crat commented on #83
Job `gh:yegor256/sixnines#83` is now out of scope.

[2017-08-20 18:08] 0crat commented on #36
+30 points just awarded to @pdacostaporto, total is [+225](http://www.0crat.com/u/pdacostaporto).

[2017-08-20 18:09] rultor commented on #81
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12740-323601498)

[2017-08-20 18:15] rultor commented on #81
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12740-323601498) (took me 5min)

[2017-08-20 18:23] 0crat commented on #70
Job `gh:yegor256/sixnines#70` assigned to @pdacostaporto, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-21 11:53] yegor256 commented on #77
@pdacostaporto see aa3fe89

[2017-08-21 19:11] pdacostaporto commented on #77
@yegor256 thanks!

[2017-08-25 04:51] yegor256 opened #88 "Errno::ECONNRESET: Connection reset by peer - SSL_connect"
[code]

[2017-08-25 04:52] yegor256 commented on #88
@0crat assign @pdacostaporto

[2017-08-25 04:52] 0crat commented on #88
@yegor256 Job `gh:yegor256/sixnines#88` assigned to @pdacostaporto, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-25 04:52] 0crat commented on #88
+15 points just awarded to @yegor256, total is [+2295](http://www.0crat.com/u/yegor256).

[2017-08-29 18:58] yegor256 opened #89 "migrate login to glogin"
Let's migrate to https://github.com/yegor256/glogin

[2017-08-29 19:32] yegor256 commented on #89
@rultor release, tag is `0.20`

[2017-08-29 19:33] rultor commented on #89
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12850-325773988)

[2017-08-29 19:39] rultor commented on #89
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12850-325773988) (took me 6min)

[2017-08-29 20:56] #89 closed

[2017-08-29 20:56] 0crat commented on #89
Oops! Job `gh:yegor256/sixnines#89` was not in scope

[2017-09-08 06:41] yegor256 opened #90 "Proxy authentication required."
`Proxy authentication required.` is not a valid cause of failure!

[2017-09-08 06:42] 0crat commented on #90
Job `gh:yegor256/sixnines#90` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-08 06:42] 0crat commented on #90
+15 points just awarded to @yegor256, total is [+3150](http://www.0crat.com/u/yegor256).

[2017-09-08 08:19] yegor256 commented on #90
@rultor release, tag is `0.20.1`

[2017-09-08 08:20] rultor commented on #90
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12945-328036108)

[2017-09-08 08:26] rultor commented on #90
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12945-328036108) (took me 6min)

[2017-09-08 08:35] #90 closed

[2017-09-08 08:35] 0crat commented on #90
Job `gh:yegor256/sixnines#90` is now out of scope.

[2017-09-08 08:35] 0crat commented on #90
+30 points just awarded to @yegor256, total is [+3180](http://www.0crat.com/u/yegor256).

[2017-09-08 18:15] yegor256 opened #91 "HTTP/1.0 407 Proxy Authentication Required"
[code]

This should not be an error!

[2017-09-08 21:08] rultor commented on #91
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12952-328214019)

[2017-09-08 21:16] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12952-328214019) (spent 8min)

[code]

[2017-09-09 05:31] yegor256 commented on #91
@rultor release, tag is `0.20.2`

[2017-09-09 05:32] rultor commented on #91
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12952-328255991)

[2017-09-09 05:37] rultor commented on #91
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12952-328255991) (took me 5min)

[2017-09-09 05:45] #91 closed

[2017-09-09 05:45] 0crat commented on #91
Oops! Job `gh:yegor256/sixnines#91` was not in scope

[2017-10-10 08:57] yegor256 opened #92 "credentials leakage"

[2017-10-10 09:09] yegor256 commented on #92
@rultor release, tag is `0.20.3`

[2017-10-10 09:09] rultor commented on #92
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13115-335410398)

[2017-10-10 09:15] rultor commented on #92
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13115-335410398) (took me 6min)

[2017-10-10 09:18] #92 closed

[2017-10-10 09:18] 0crat commented on #92
Oops! Job `gh:yegor256/sixnines#92` was not in scope

[2017-11-14 14:35] 0crat commented on #76
@pdacostaporto this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:36] 0crat commented on #76
@pdacostaporto resigned from `gh:yegor256/sixnines#76`, please stop working.

[2017-11-14 14:36] 0crat commented on #76
Oops! Job `gh:yegor256/sixnines#76` is not assigned to anyone.

[2017-11-14 14:37] 0crat commented on #76
Oops! Job `gh:yegor256/sixnines#76` is not assigned to anyone.

[2017-11-14 15:24] 0crat commented on #14
@pdacostaporto this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 15:24] 0crat commented on #77
@pdacostaporto this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 15:25] 0crat commented on #57
@pdacostaporto this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 15:25] 0crat commented on #70
@pdacostaporto this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 15:28] 0crat commented on #14
@pdacostaporto resigned from `gh:yegor256/sixnines#14`, please stop working.

[2017-11-14 15:28] 0crat commented on #77
@pdacostaporto resigned from `gh:yegor256/sixnines#77`, please stop working.

[2017-11-14 15:28] 0crat commented on #57
@pdacostaporto resigned from `gh:yegor256/sixnines#57`, please stop working.

[2017-11-14 15:28] 0crat commented on #70
@pdacostaporto resigned from `gh:yegor256/sixnines#70`, please stop working.

[2017-11-14 15:28] 0crat commented on #88
@pdacostaporto resigned from `gh:yegor256/sixnines#88`, please stop working.

[2017-11-14 15:28] 0crat commented on #14
Oops! Job `gh:yegor256/sixnines#14` is not assigned to anyone.

[2017-11-14 15:28] 0crat commented on #77
Oops! Job `gh:yegor256/sixnines#77` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #57
Oops! Job `gh:yegor256/sixnines#57` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #70
Oops! Job `gh:yegor256/sixnines#70` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #88
Oops! Job `gh:yegor256/sixnines#88` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #14
Oops! Job `gh:yegor256/sixnines#14` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #77
Oops! Job `gh:yegor256/sixnines#77` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #57
Oops! Job `gh:yegor256/sixnines#57` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #70
Oops! Job `gh:yegor256/sixnines#70` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #88
Oops! Job `gh:yegor256/sixnines#88` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #14
Oops! Job `gh:yegor256/sixnines#14` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #77
Oops! Job `gh:yegor256/sixnines#77` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #57
Oops! Job `gh:yegor256/sixnines#57` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #70
Oops! Job `gh:yegor256/sixnines#70` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #88
Oops! Job `gh:yegor256/sixnines#88` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #14
Oops! Job `gh:yegor256/sixnines#14` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #77
Oops! Job `gh:yegor256/sixnines#77` is not assigned to anyone.

[2017-11-14 15:29] 0crat commented on #57
Oops! Job `gh:yegor256/sixnines#57` is not assigned to anyone.

[2017-11-14 15:30] 0crat commented on #88
Oops! Job `gh:yegor256/sixnines#88` is not assigned to anyone.

[2017-11-17 00:43] 0crat commented on #14
Job `gh:yegor256/sixnines#14` assigned to @pdacostaporto, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-17 00:43] 0crat commented on #77
Job `gh:yegor256/sixnines#77` assigned to @pdacostaporto, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-27 00:49] 0crat commented on #14
@pdacostaporto resigned from `gh:yegor256/sixnines#14`, please stop working.

[2017-11-27 00:50] 0crat commented on #77
@pdacostaporto resigned from `gh:yegor256/sixnines#77`, please stop working.

[2017-12-07 10:28] 0crat commented on #70
Job `gh:yegor256/sixnines#70` assigned to @pdacostaporto, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-07 10:28] 0crat commented on #88
Job `gh:yegor256/sixnines#88` assigned to @pdacostaporto, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-17 12:49] 0crat commented on #70
@pdacostaporto resigned from `gh:yegor256/sixnines#70`, please stop working.

[2017-12-17 12:49] 0crat commented on #88
@pdacostaporto resigned from `gh:yegor256/sixnines#88`, please stop working.

[2017-12-17 17:38] 0crat commented on #14
Job `gh:yegor256/sixnines#14` assigned to @pdacostaporto. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-17 17:39] 0crat commented on #57
@pdacostaporto resigned from `gh:yegor256/sixnines#57`, please stop working.

[2017-12-17 18:48] 0crat commented on #57
Job `gh:yegor256/sixnines#57` assigned to @pdacostaporto. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-17 23:58] 0crat commented on #77
Job `gh:yegor256/sixnines#77` assigned to @pdacostaporto. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-18 08:09] 0crat commented on #70
Job `gh:yegor256/sixnines#70` assigned to @pdacostaporto. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-18 13:28] 0crat commented on #88
Job `gh:yegor256/sixnines#88` assigned to @pdacostaporto. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-27 10:20] 0crat commented on #14
@pdacostaporto resigned from `gh:yegor256/sixnines#14`, please stop working.

[2017-12-27 17:59] 0crat commented on #57
@pdacostaporto resigned from `gh:yegor256/sixnines#57`, please stop working.

[2017-12-27 18:49] 0crat commented on #77
@pdacostaporto resigned from `gh:yegor256/sixnines#77`, please stop working.

[2017-12-27 18:59] 0crat commented on #77
Job `gh:yegor256/sixnines#77` assigned to @pdacostaporto  ([profile](http://www.0crat.com/u/pdacostaporto})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2018-04-12 01:36] 0crat commented on #14
@null[/z](https://www.0crat.com/u/null) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-07-03 07:16] SilasReinagel opened #93 "Cannot change target URL in case of protocol/prefix mismatch"
Should not be charged another one-time setup fee while trying to correctly configure the URL for a site. User should be allowed to tune the URL until at least one success occurs, or within a certain configuration window.

Presently, my site is getting a 301 Redirect if I prefix with `www`, and I can't change the URL. I only have the option to create a new site or delete my existing site.

This is

[2018-07-12 06:05] SilasReinagel opened #94 "Badges appears yellow even above 99.5% uptime"
![image](https://user-images.githubusercontent.com/10834339/42615376-d1ab3d72-855e-11e8-9f6e-75c13b16baf3.png)

Badge should either be green above 99.5%, or it should be configurable for each monitored site, by the owner of the counter.

[2018-07-12 06:05] SilasReinagel commented on #93
@yegor256 Pay attention to this issue.

[2018-07-12 06:05] SilasReinagel commented on #94
@yegor256 Pay attention to this issue.

[2018-11-08 07:41] tbi88 opened #95 "IP-Addresses of your monitoring servers"
Hi there

Would you mind to add the public IP addresses of your monitoring servers to the website? I want to monitor a web app which is not publicly available, therefore I need some IP's or a FQDN to allow it in my firewalls.

Best regards
tbi88

[2018-12-25 16:35] 0crat commented on #93
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-12-25 16:35] yegor256 commented on #94
@SilasReinagel well, the schedule is different. We put green only when it's 99.9+.

[2018-12-25 16:35] #94 closed

[2018-12-25 16:42] 0crat commented on #93
The job [#93](https://github.com/yegor256/sixnines/issues/93) assigned to @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto), here is [why](https://www.0crat.com/footprint/C6MATTB7E/8880ec46-ecdb-4c9d-a06b-420e05c4956d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2018-12-25 16:51] 0crat commented on #94
Job `gh:yegor256/sixnines#94` is not assigned, can't get performer

[2018-12-25 16:53] 0crat commented on #94
This job is not in scope

[2018-12-30 16:41] 0crat commented on #93
@pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-04 03:58] pdacostaporto commented on #93
@0crat wait for #96 .

[2019-01-04 03:59] 0crat commented on #93
@pdacostaporto The impediment for [#93](https://github.com/yegor256/sixnines/issues/93) was registered successfully by @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto)

[2019-05-09 09:58] yegor256 commented on #93
@rultor release, tag is `0.21.0`

[2019-05-09 10:00] rultor commented on #93
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18849-490839576)

[2019-05-09 10:07] rultor commented on #93
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18849-490839576) (took me 6min)

[2019-05-09 10:33] yegor256 commented on #93
@SilasReinagel I believe it's fixed. @pdacostaporto thanks a lot!

[2019-05-09 10:33] #93 closed

[2019-05-09 11:41] 0crat commented on #93
The job [#93](https://github.com/yegor256/sixnines/issues/93) is now out of scope

[2019-05-09 11:42] 0crat commented on #93
Order was finished: +30 point(s) just awarded to @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto)

[2019-05-15 13:37] yegor256 opened #97 "FrozenError: can't modify frozen String"
[code]

[2019-05-15 14:00] yegor256 commented on #97
@rultor release, tag is `0.21.1`

[2019-05-15 14:02] rultor commented on #97
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18908-492667219)

[2019-05-15 14:10] rultor commented on #97
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18908-492667219) (took me 6min)

[2019-05-15 14:34] #97 closed

[2019-05-15 14:50] 0crat commented on #97
Job `gh:yegor256/sixnines#97` is not assigned, can't get performer

[2019-05-15 14:50] 0crat commented on #97
This job is not in scope

[2019-05-22 17:48] yegor256 opened #98 "Twitter::Error::Unauthorized: Could not authenticate you."
[code]

[2019-05-22 17:56] yegor256 commented on #98
@rultor release, tag is `0.21.2`

[2019-05-22 17:57] rultor commented on #98
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18975-494903924)

[2019-05-22 18:03] rultor commented on #98
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18975-494903924) (took me 6min)

[2019-05-22 18:04] #98 closed

[2019-05-22 18:05] yegor256 opened #99 "OpenSSL::SSL::SSLError: SSL_connect SYSCALL"
[code]

[2019-05-22 18:17] yegor256 commented on #99
@rultor release, tag is `0.21.3`

[2019-05-22 18:18] rultor commented on #99
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18976-494910037)

[2019-05-22 18:24] rultor commented on #99
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18976-494910037) (spent 6min)

[code]

[2019-05-22 18:25] yegor256 commented on #99
@rultor release, tag is `0.21.3`

[2019-05-22 18:28] rultor commented on #99
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18976-494912215)

[2019-05-22 18:34] rultor commented on #99
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18976-494912215) (took me 5min)

[2019-05-22 18:44] #99 closed

[2019-05-22 19:28] 0crat commented on #98
Job `gh:yegor256/sixnines#98` is not assigned, can't get performer

[2019-05-22 19:32] 0crat commented on #98
This job is not in scope

[2019-05-22 19:43] 0crat commented on #99
Job `gh:yegor256/sixnines#99` is not assigned, can't get performer

[2019-05-22 19:44] 0crat commented on #99
This job is not in scope

[2019-05-28 07:20] yegor256 opened #100 "mandatory SSL for the front end"
Let's make it mandatory

[2019-05-28 07:23] yegor256 commented on #100
@rultor release, tag is `0.21.4`

[2019-05-28 07:24] 0pdd opened #101 "sixnines.rb:353-355: We should check that there were no..."
The puzzle `93-8bbecf83` from #93 has to be resolved:

https://github.com/yegor256/sixnines/blob/97be064ce87103a45bf150577b13c0f0d1694653/sixnines.rb#L353-L355

The puzzle was created by @yegor256 on 28-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source c

[2019-05-28 07:24] 0pdd commented on #93
@SilasReinagel the puzzle [#101](https://github.com/yegor256/sixnines/issues/101) is still not solved.

[2019-05-28 07:24] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19019-496396759)

[2019-05-28 07:30] rultor commented on #100
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19019-496396759) (took me 6min)

[2019-05-28 07:33] #100 closed

[2019-05-28 07:52] 0crat commented on #100
Job `gh:yegor256/sixnines#100` is not assigned, can't get performer

[2019-05-28 07:52] 0crat commented on #100
This job is not in scope

[2019-05-29 06:52] yegor256 opened #102 "insecure connection"

[2019-05-29 06:55] yegor256 commented on #102
@rultor release, tag is `0.21.5`

[2019-05-29 06:55] rultor commented on #102
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19036-496809734)

[2019-05-29 07:02] rultor commented on #102
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19036-496809734) (took me 6min)

[2019-05-29 07:16] #102 closed

[2019-05-29 15:13] yegor256 opened #103 "ArgumentError: nil can't be converted to a Time value"
Sentry:

[code]

[2019-05-29 15:16] yegor256 commented on #103
@rultor release, tag is `0.21.6`

[2019-05-29 15:17] rultor commented on #103
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19055-496981250)

[2019-05-29 15:25] rultor commented on #103
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19055-496981250) (took me 6min)

[2019-05-29 15:31] #103 closed

[2019-05-29 15:49] 0crat commented on #103
Job `gh:yegor256/sixnines#103` is not assigned, can't get performer

[2019-05-29 15:49] 0crat commented on #103
This job is not in scope

[2019-05-30 04:26] yegor256 commented on #88
@0crat refuse

[2019-05-30 04:27] #88 closed

[2019-05-30 04:33] yegor256 commented on #57
@0crat refuse

[2019-05-30 04:33] yegor256 commented on #57
@rultor release, tag is `0.21.7`

[2019-05-30 04:35] rultor commented on #57
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19060-497198677)

[2019-05-30 04:39] 0crat commented on #88
@yegor256 Job `gh:yegor256/sixnines#88` is not assigned, can't get performer

[2019-05-30 04:41] rultor commented on #57
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19060-497198677) (took me 6min)

[2019-05-30 04:42] 0crat commented on #57
@yegor256 Job `gh:yegor256/sixnines#57` is not assigned, can't get performer

[2019-05-30 04:43] #57 closed

[2019-05-30 04:45] yegor256 opened #104 "badge is broken"

[2019-05-30 04:48] yegor256 commented on #104
@rultor release, tag is `0.21.8`

[2019-05-30 04:48] rultor commented on #104
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19061-497200973)

[2019-05-30 04:54] rultor commented on #104
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19061-497200973) (took me 6min)

[2019-05-30 05:00] #104 closed

[2019-05-30 05:14] 0crat commented on #88
Job `gh:yegor256/sixnines#88` is not assigned, can't get performer

[2019-05-30 05:18] 0crat commented on #88
The job [#88](https://github.com/yegor256/sixnines/issues/88) is now out of scope

[2019-05-30 05:18] 0crat commented on #57
Job `gh:yegor256/sixnines#57` is not assigned, can't get performer

[2019-05-30 05:19] 0crat commented on #104
Job `gh:yegor256/sixnines#104` is not assigned, can't get performer

[2019-05-30 05:19] 0crat commented on #57
The job [#57](https://github.com/yegor256/sixnines/issues/57) is now out of scope

[2019-05-30 05:24] 0crat commented on #104
This job is not in scope

[2019-06-12 13:45] yegor256 opened #105 "redirect URI without HTTPs"
let's fix

[2019-06-12 13:46] yegor256 commented on #105
@rultor release, tag is `0.21.9`

[2019-06-12 13:47] rultor commented on #105
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19180-501280638)

[2019-06-12 13:54] rultor commented on #105
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19180-501280638) (took me 6min)

[2019-06-12 13:56] #105 closed

[2019-06-12 14:15] 0crat commented on #105
Job `gh:yegor256/sixnines#105` is not assigned, can't get performer

[2019-06-12 14:15] 0crat commented on #105
This job is not in scope

[2019-06-28 13:52] anod opened #106 "Error 402 when payment failed while adding an endpoint"
<img width="883" alt="Screen Shot 2019-06-28 at 16 47 35" src="https://user-images.githubusercontent.com/171704/60346991-10bdec00-99c5-11e9-8f64-a7a3aa213459.png">

[2019-10-18 06:58] yegor256 opened #107 "deploy to Dokku"

[2019-10-18 07:02] yegor256 commented on #107
@rultor release, tag is `0.21.10`

[2019-10-18 07:03] rultor commented on #107
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20634-543554954)

[2019-10-18 07:10] rultor commented on #107
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20634-543554954) (took me 7min)

[2019-10-18 07:11] #107 closed

[2019-10-18 07:36] 0crat commented on #107
Job `gh:yegor256/sixnines#107` is not assigned, can't get performer

[2019-10-18 07:36] 0crat commented on #107
This job is not in scope

[2019-12-13 05:20] yegor256 opened #109 "Errno::ENOMEM: Cannot allocate memory - fork(2)"
[code]

[2019-12-13 05:43] yegor256 commented on #109
@rultor release, tag is `0.21.11`

[2019-12-13 05:44] rultor commented on #109
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21041-565308701)

[2019-12-13 05:57] rultor commented on #109
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21041-565308701) (took me 11min)

[2019-12-13 14:25] #109 closed

[2019-12-13 14:31] yegor256 opened #110 "200 always on /ping"

[2019-12-13 14:32] yegor256 commented on #110
@rultor release, tag is `0.21.12`

[2019-12-13 14:33] rultor commented on #110
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21044-565461714)

[2019-12-13 14:45] rultor commented on #110
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21044-565461714) (took me 10min)

[2019-12-13 14:46] #110 closed

[2019-12-13 19:19] yegor256 opened #111 "decoding error"
[code]

[2019-12-13 19:27] yegor256 commented on #111
@rultor release, tag is `0.21.13`

[2019-12-13 19:29] rultor commented on #111
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21048-565576345)

[2019-12-13 19:36] rultor commented on #111
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21048-565576345) (took me 5min)

[2019-12-13 19:40] #111 closed

[2019-12-14 11:59] 0crat commented on #109
Job `gh:yegor256/sixnines#109` is not assigned, can't get performer

[2019-12-14 12:01] 0crat commented on #109
This job is not in scope

[2019-12-14 12:04] 0crat commented on #110
Job `gh:yegor256/sixnines#110` is not assigned, can't get performer

[2019-12-14 12:05] 0crat commented on #111
Job `gh:yegor256/sixnines#111` is not assigned, can't get performer

[2019-12-14 12:06] 0crat commented on #110
This job is not in scope

[2019-12-14 12:07] 0crat commented on #111
This job is not in scope

[2020-04-25 21:16] agrrh commented on #101
Attempted to fix in #114

[2022-06-30 19:17] yegor256 opened #116 "fresh release"

[2022-07-22 04:10] 0pdd commented on #93
@SilasReinagel the puzzle [#unknown]() is still not solved.

[2022-07-22 05:40] yegor256 commented on #116
@rultor release, tag is `0.22.0`

[2022-07-22 05:41] rultor commented on #116
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26292-1192203228)

[2022-07-22 05:46] rultor commented on #116
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26292-1192203228) (took me 5min)